// Colors
$bodyBg: hsl(216, 12%, 8%);

$primary: hsl(25, 97%, 53%);

$white: #ffffff;
$black: #000000;
$lightgrey: #d6e2f0;
$mediumgrey: #7b879d;
$darkblue: #1f3251;

//Attribution
$attr_tc: #191826;

// Typeface
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
$fontFamily: "Outfit", sans-serif;
$mainFontSize: 15px;
